<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TripleH Embarques.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>22B3E1272F6A2267E937EA88C30B84FADCD07FCC</string>
				<key>dateExpires</key>
				<string>5/13/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5K66M8P83K.io.ionic.embarques</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>5K66M8P83K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TripleH Embarques.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>024b53fa-9ad8-46d0-bcfa-44f4cc2ff5b1</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: io.ionic.embarques</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5K66M8P83K</string>
				<key>name</key>
				<string>LUCIDUM SA DE CV</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
